.su-tag {
    border-radius: 5px;
    box-shadow: $bx5;
    padding: 3px;
    min-height: 20px;
    @include flex(row, center, center);

    .su-tag-name {
        margin-left: 5px;
        font-size: $fs5;
    }
}