$border: 1px solid white;
$borderRadius: 5px;

.su-tab-bar-container {
    width: 100%;
    height: 45px;
    @include scroll(auto, hidden);
    border: $border;
    border-radius: $borderRadius;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;

    .su-tab-bar-body {
        @include flex(row, flex-start, center);
        height: 100%;
    }

}