.su-button {
    @include flex(row, center, center);
    border-radius: 3px;
    font-size: $fs4;
    padding: 5px 10px;
    cursor: pointer;
    border: none;

    &.su-button-small {
        font-size: $fs5;
    }

    &.su-button-medium {
        font-size: $fs4;
    }

    &.su-button-large {
        font-size: $fs3;
    }

    &.su-button-outlined {
        $color: $tc5;
        border-width: 1px;
        border-style: solid;
        background-color: $color;
        
        &:not(.su-button-disabled) {
            border-color: $color;
        }

        &:hover {
            &:not(.su-button-disabled) {
                border-color: var(--su-themeColor);
            }
        }
    }

    &.su-button-text {
        background-color: transparent;
        white-space: nowrap;
        color: $tc1;
        
        &:hover {
            &:not(.su-button-disabled) {
                background-color: rgba(var(--su-themeColor), var(--su-hoverOpacity));
            }
        }

        &.su-button-activate{
            background-color: rgba(var(--su-themeColor), var(--su-hoverOpacity));
        }
    }

    &.su-button-icon {
        color: $tc1;
        background-color: transparent;
        border-radius: 100%;
        padding: 1px;

        &:hover {
            &:not(.su-button-disabled) {
                background-color: rgba(var(--su-themeColor), var(--su-hoverOpacity));
            }
        }

        &.su-button-activate {
            background-color: rgba(var(--su-themeColor), var(--su-hoverOpacity));
        }
    }

    &.su-button-contained {
        background-color: var(--su-themeColor);
        color: white;

        &:hover {
            &:not(.su-button-disabled){
                color: $tc5;
            }
        }
    }

    &.su-button-disabled {
        cursor: not-allowed;
        filter: grayscale(100%) opacity(40%);
    }
}