:root {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  font-variant-numeric: tabular-nums;

  // 字体
  $fontSizes: 12px, 14px, 16px, 20px, 24px, 30px, 38px, 46px, 56px, 68px;
  // 行高，和字体一一对应，成对使用
  $lineHeights: 20px, 22px, 24px, 28px, 32px, 38px, 46px, 54px, 64px, 76px;
  --#{$prefix}-normal-font-weight: 400;
  --#{$prefix}-bold-font-weight: 500;

  @include dataVars('fs', $fontSizes);
  @include dataVars('lh', $lineHeights);
}