:root {
    --su-topBarHeight: 56px;
    --su-themeColor: #465EFB;
    --su-postColor: #83C9F4;
    --su-successColor: #4caf50;
    --su-errorColor: #ff5252;
    --su-warningColor: #fb8c00;
    --su-hoverOpacity: 0.05;
    --su-disabledColor: rgba(0,0,0,.46);
}